/* ---------------- */
/* Global           */
/* ---------------- */

:root {
  /* colors */
  --clr-neutral-100: 0 0% 98%;
  --clr-neutral-300: 240 18% 85%;
  --clr-neutral-600: 240 10% 57%;
  --clr-neutral-900: 240 21% 20%;

  --clr-purple-300: 268 100% 86%;
  --clr-purple-400: 268 55% 71%;
  --clr-purple-600: 268 34% 53%;

  --clr-cyan-300: 192 90% 77%;
  --clr-cyan-600: 192 37% 48%;

  --line-height-1: 1.1;
  --line-height-2: 1.5;

  --letter-spacing-1: 0.25rem;

  /* font-family */
  --main: "Red Hat Display", sans-serif;

  /* font-sizes */
  --fs-900: clamp(2.5rem, 1.9783rem + 2.6087vw, 4rem);
  --fs-600: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
  --fs-400: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --fs-300: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);

  /* font-weights */
  --fw-regular: 500;
  --fw-bold: 900;

  /* spacing */
  --space-s: clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
  --space-m: clamp(3rem, 2.3043rem + 3.4783vw, 5rem);
  --space-l: clamp(9rem, 7.7826rem + 6.087vw, 12.5rem);
}

/* ---------------- */
/* Reset            */
/* ---------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-family: var(--main);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  color: hsl(var(--clr-neutral-600));
}

body {
  min-height: 100vh;
  line-height: var(--line-height-1);
}

h1,
h2,
h3,
h4 {
  font-size: var(--fs-600);
  color: hsl(var(--clr-neutral-900));
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: hsl(var(--clr-neutral-100));
  background-color: hsl(var(--btn-clr));
  border: 0;
  border-radius: 1.8rem;
  padding: 1rem 2.5rem;
}

main {
  position: relative;
  min-width: 100vw;
}

/* ---------------- */
/* Composition      */
/* ---------------- */

.flow > * + * {
  margin-top: 4rem;
}

.text-flow > * + * {
  margin-top: var(--text-margin, 2rem);
}

.wrapper {
  max-width: 70rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap, var(--space-s));
}

@media (min-width: 48rem) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.simple-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

@media (min-width: 64rem) {
  .simple-flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

/* ---------------- */
/* Utilities        */
/* ---------------- */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.horizontal-center {
  margin-inline: auto;
}

.text-align-center {
  text-align: center;
}

.line-height-2 {
  line-height: var(--line-height-2);
}

.max-character-width {
  max-width: 45ch;
}

.font-size-900 {
  font-size: var(--fs-900);
}

.font-size-300 {
  font-size: var(--fs-300);
}

.letter-spacing-1 {
  letter-spacing: var(--letter-spacing-1);
}

.uppercase {
  text-transform: uppercase;
}

.text-cyan-600 {
  color: hsl(var(--clr-cyan-600));
}

.text-cyan-300 {
  color: hsl(var(--clr-cyan-300));
}

.text-purple-300 {
  color: hsl(var(--clr-purple-300));
}

.small-margin {
  --text-margin: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.padding-inline {
  padding-inline: 1rem;
}

.margin-top {
  margin-top: var(--mtop, 4rem);
}

.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}

.z-index-2 {
  z-index: 2;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

/* ---------------- */
/* Blocks           */
/* ---------------- */

.logo {
  --mtop: var(var(--space-m));
}

.img-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: clamp(10rem, 3.182rem + 34.091vi, 25rem) 1fr;
  gap: 3rem;
  justify-items: center;
  min-width: 100vw;
}

.single-image {
  display: block;
  min-width: 110%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-row: 1 / 2;
}

.split-image {
  display: none;
}

.heading {
  grid-row: 2 / 3;
}

@media (min-width: 64rem) {
  .single-image {
    display: none;
  }

  .split-image {
    display: block;
    position: absolute;
    overflow: hidden;
  }

  .img-container {
    grid-template-columns: 1fr minmax(26rem, 28rem) 1fr;
    grid-template-rows: 1fr;
    gap: 0rem;
    grid-template-areas: "one two three";
  }

  .img-container > :nth-child(2) {
    grid-area: one;
    left: -1.5rem;
  }

  .img-container > :nth-child(3) {
    grid-area: two;
  }

  .img-container > :nth-child(4) {
    grid-area: three;
    right: -1.5rem;
    bottom: 0;
  }
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button[data-type="primary"] {
  --btn-clr: var(--clr-cyan-600);
}

.button[data-type*="secondary"] {
  --btn-clr: var(--clr-purple-600);
}

.button:hover,
.button:focus {
  background-color: hsl(var(--btn-clr) / 0.6);
}

.button[data-type="secondary-2"]:hover,
.button[data-type="secondary-2"]:focus {
  background-color: hsl(var(--clr-purple-400));
}

.info {
  --mtop: var(--space-l);
}

.info > * + * {
  --mtop: 4rem;
}

.number-tag {
  font-size: 1rem;
  letter-spacing: var(--letter-spacing-1);
  color: hsl(var(--clr-neutral-600));
  background-color: hsl(var(--clr-neutral-100));
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid hsl(var(--clr-neutral-300));
  border-radius: 50%;
  aspect-ratio: 1;
  width: 3.5em;
  position: relative;
}

.number-tag::before {
  content: "";
  width: 1px;
  height: 80px;
  background-color: hsl(var(--clr-neutral-300));
  position: absolute;
  top: -80px;
}

.number-tag[data-type="hover"] {
  position: absolute;
  top: -1.75rem;
  left: calc(50% - 1.75rem);
  z-index: 2;
}

.image-tile {
  border-radius: 1rem;
}

.footer {
  --mtop: 9.5rem;

  background-color: hsl(var(--clr-cyan-600));
  padding: 4rem;
  position: relative;
}

@media (min-width: 64rem) {
  .footer__header {
    max-width: 35ch;
    text-align: start;
  }

  .footer__content {
    max-width: 30ch;
    text-align: start;
  }
}

picture {
  position: absolute;
  left: 0;
  top: 0;

  max-height: 100%;
  min-width: 100%;
  overflow: hidden;
  border: 1px solid red;
  opacity: 0.15;
  z-index: 0;
}

picture img {
  min-width: 100%;
  object-fit: cover;
}
